body{
    margin:0;
    display:flex;
    flex-direction: column;
    
}
.header{
    background-color:#1F2937;
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
    font-family:'Roboto',sans-serif;
}
.header p{
    font-size: 24px;
    color: #F9FAF8;
    margin:0px;
}
.header ul{
    display:flex;
    gap:16px;
}
.header li{
    list-style-type: none;  
}
.header a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}