body{
    margin:0;
    display:flex;
    flex-direction: column;
    font-family:'Roboto',sans-serif;
}
.header{
    background-color:#1F2937;
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
}
.header p{
    font-size: 24px;
    color: #F9FAF8;
    margin:0px;
}
.header ul{
    display:flex;
    gap:16px;
}
.header li{
    list-style-type: none;  
}
.header a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937; 
    
}
.hero-right{
    margin-right:300px;
}
.hero img{
    width:450px;
    height:230px;
    padding-top: 20px; 
}
.hero-left{
     padding:100px;
     margin-left:110px;
}
.hero-left p{
  font-size: 18px;
  color: #E5E7EB;
  margin:0;
  margin-bottom:10px;
}
.hero-left h1{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900px;
    margin:0;
}

.hero-left button{
    
    background-color: #3882F6;
     border:none;
     border-radius: 5px;
     padding: 7px 30px;
    font-size: 18px;
    color:#F9FAF8;
}

