body{
    margin:0;
    display:flex;
    flex-direction: column;
    font-family:'Roboto',sans-serif;
}
.header{
    background-color:#1F2937;
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
}
.header p{
    font-size: 24px;
    color: #F9FAF8;
    margin:0px;
}
.header ul{
    display:flex;
    gap:16px;
}
.header li{
    list-style-type: none;  
}
.header a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937; 
    
}
.hero-right{
    margin-right:300px;
}
.hero img{
    width:450px;
    height:230px;
    padding-top: 20px; 
}
.hero-left{
     padding:100px;
     margin-left:110px;
}
.hero-left p{
  font-size: 18px;
  color: #E5E7EB;
  margin:0;
  margin-bottom:10px;
}
.hero-left h1{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900px;
    margin:0;
}

.hero-left button{
    
    background-color: #3882F6;
     border:none;
     border-radius: 5px;
     padding: 7px 30px;
    font-size: 18px;
    color:#F9FAF8;
}
.cards h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.cards-container .border{
    border:5px solid #3882F6;
    border-radius: 10px;
    padding:10px;
    height:180px;
    box-sizing: border-box;
}
.cards .cards-container{
    display:flex;
    gap:30px;
    justify-content: center;
    align-items: center;
   
}

.card{
    width: 180px;
    text-align: center;
}

.card .text{
    font-size: 18px;
    margin-top: 10px;
}


.quote{
    background-color: #E5E7EB;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 300px;
}
.quote .text{
    font-size:36px;
    color:#1F2937;
    font-weight: 300;
}
.quote .author{
    align-self:flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
    margin-right:15px;
}
